<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap" rel="stylesheet">
    <link href="/css/signup.css" rel="stylesheet" />
    <title><%= title %></title>
  </head>

  <body>
    <div class="signup_con">
      <form action="/signup" method="post">
        <p id="id_input">ID</p>
        <input type="text" name="id" id="id" placeholder="ID" />
        <p id="pw_input">Password</p>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
        />
        <br />
        <input
          type="password"
          name="password_check"
          id="passwordCheck"
          placeholder="Password Confirm"
        />
        <br />
        <p id="name_input">Name</p>
        <input
          type="text"
          name="name"
          class="input-type"
          id="name"
          placeholder="Name"
        />
        <br />
        <p id="nickname_input">Nickname</p>
        <input
          type="text"
          name="nickname"
          id="nickname"
          placeholder="Nickname"
        />
        <br />
        <p id="age_input">Age</p>
        <input type="radio" name="age" id="age1" value="10" checked="checked" >10대
        <input type="radio" name="age" id="age2" value="20" >20대
        <input type="radio" name="age" id="age3" value="30" >30대
        <input type="radio" name="age" id="age4" value="40" >40대
        <input type="radio" name="age" id="age5" value="50" >50대
        <input type="radio" name="age" id="age6" value="60" >60대
        <br />
        <p id="gender_input">Gender</p>
        <input type="radio" name="gender" id="gender1" value="남" checked="checked" >남
        <input type="radio" name="gender" id="gender2" value="여" >여
        <br />
        <p id="job_input">Job</p>
        <input type="text" name="job" id="job" placeholder="Job" />
        <br />
        <br />
        <button type="submit" id="signupBtn">Sign up</button>
      </form>
      <a href="/">뒤로가기</a>
      <a href="/login">로그인</a>
    </div>
  </body>
</html>
