@charset "utf-8";

#tagAddBtn {
  font-family: 'Kdam Thmor Pro', sans-serif;
  width: 30%;
  padding: 5px;
  text-align: center;
  margin-top: 5px;
  margin-left: 35%;
  background-color: #FFD24C;
  border-color: transparent;
  border-radius : 5px;
  color: white;
}

#tagAddBtn:hover {
  border : 2px solid #FFD24C !important;
  background-color: white !important;
  color : #FFD24C !important;
  font-weight: bold !important;
  box-shadow : 0 0.5em -0.4em #FFD24C !important;
  transform : translateY(-0.25em) !important;
}

div.left::-webkit-scrollbar {
  display: none;
}